section {
    padding-top: 120px;
    padding-bottom: 120px;
    height: calc(100vh - 120px);
    background-color: #1a1a1a;
    width: 100%;

    .img-container{

        &.inactive{
            transform: scale(0.1);
        }
    
        &.active{
           animation: about-animation1 0.5s linear;
        }
    
        @keyframes about-animation1 {
            0% {
                transform: scale(0.1) translateX(-500px);
            }
            100%{
                transform: scale(1);
            }
        }
    }

    img{
        height: 300px;
        width: 300px;
        object-fit: contain;
        object-position: 60% 30%;
        background-color: #fa2759;
        border-radius: 50%;
    }

    .about-header-text{
        margin-left: 140px;

        p{
            transform: scale(0);

            &.inactive{
                transform: scale(0.1);
            }
        
            &.active{
               animation: about-animation2 0.5s linear 1s both;
            }
        
            @keyframes about-animation2 {
                0% {
                    transform: scale(0) translateX(500px);
                }
                100%{
                    transform: scale(1);
                }
            }
        }
    }

    .about-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 100px;
        padding-top: 100px;
        border-top: 1px solid #2dfcd8;

        .about-single-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            opacity: 0;

            &.inactive{
                transform: scale(0.1);
            }
        
            &.active{
               animation: about-animation3 2s linear both;
            }
        
            @keyframes about-animation3 {
                0% {
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }

            .img-box{
                height: 80px;
                width: 80px;
                border-radius: 50%;
                background-color: #2dfcd8;
            }
            img{
                height: 25px;
                width: 25px;
                object-fit: cover;
                background-color: unset;
            }
        }
    }

    
}

