<section class="center" id="about">
    <div class="container-width">
        <div class="center-horizontal">
            <div class="img-container">
                <img src="assets/img/Marco.png" alt="">
            </div>
            <div class="about-header-text">
                <h2 class="center-horizontal">About me</h2>
                <p>
                    #the imagination is the only limit.
                </p>
            </div>
        </div>
        <div class="about-content">
            <div class="about-single-content">
                <div class="img-box center">
                    <img src="assets/img/walk-line.png" alt="">
                </div>
                
                <h4>MY TOURNEY BEGAN</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia doloribus quo magni repellendus suscipit tempore quas, quos ipsam odit quam magnam aliquam accusantium laudantium veniam aperiam fugiat similique. Eius, explicabo?</p>
            </div>
            <div class="about-single-content">
                <div class="img-box center">
                    <img src="assets/img/heart-line.png" alt="">
                </div>
                <h4>MY TOURNEY BEGAN</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia doloribus quo magni repellendus suscipit tempore quas, quos ipsam odit quam magnam aliquam accusantium laudantium veniam aperiam fugiat similique. Eius, explicabo?</p>
            </div>
            <div class="about-single-content">
                <div class="img-box center">
                    <img src="assets/img/search-line.png" alt="">
                </div>
                <h4>MY TOURNEY BEGAN</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia doloribus quo magni repellendus suscipit tempore quas, quos ipsam odit quam magnam aliquam accusantium laudantium veniam aperiam fugiat similique. Eius, explicabo?</p>
            </div>
            <div class="about-single-content">
                <div class="img-box center">
                    <img src="assets/img/flight-takeoff-line.png" alt="">
                </div>
                <h4>MY TOURNEY BEGAN</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia doloribus quo magni repellendus suscipit tempore quas, quos ipsam odit quam magnam aliquam accusantium laudantium veniam aperiam fugiat similique. Eius, explicabo?</p>
            </div>
        </div>

    </div>
</section>