<section class="center" id="projects">
    <div class="container-width center column">
        <h2>My work</h2>

        <!-- <div class="flex">
            <div>
                All
            </div>
            <div>
                Angular
            </div>
            <div>
                Java Script
            </div>
        </div> -->

        <div class="center wrap">
            <div class="project-box inactive"
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
                <img src="assets/img/ElPoloLoco.jpg" alt="">
                <div class="project-box-overlay center column">
                    <h3>El Pollo Loco</h3>
                    <p>little jump and run game</p>
                    <a href="https://elpolloloco.marcos-tech.de/" target="_blank" class="project-play-button center">Try out</a>
                </div>
            </div>

            <div class="project-box inactive"
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
                <img src="assets/img/pokedex.jpg" alt="">
                <div class="project-box-overlay center column">
                    <h3>Pokedex</h3>
                    <p>based on Rest API</p>
                    <a href="https://pokedex.marcos-tech.de/" target="_blank" class="project-play-button center">Try out</a>
                </div>
            </div>

            <div class="project-box inactive"
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
                <img src="assets/img/join.jpg" alt="">
                <div class="project-box-overlay center column">
                    <h3>Join-Kanban-board</h3>
                    <p>Work-Management-Software</p>
                    <a href="https://join.marcos-tech.de/" target="_blank" class="project-play-button center">Try out</a>
                </div>
            </div>

            <div class="project-box inactive"
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
                 <img src="assets/img/sharkie.jpg" alt="">
                <div class="project-box-overlay center column">
                    <h3>Sharki</h3>
                    <p>work in progress</p>
                    <!-- <a href="https://join.marcos-tech.de/" target="_blank" class="project-play-button center">Try out</a> -->
                </div>
            </div>

            <div class="project-box inactive"
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
                <img src="assets/img/tictactoe.jpg" alt="">
                <div class="project-box-overlay center column">
                    <h3>Tic Tac Toe</h3>
                    <p>2 P. Mini-Game</p>
                    <a href="https://tictactoe.marcos-tech.de/" target="_blank" class="project-play-button center">Try out</a>
                </div>
            </div>


        </div>
    </div>

</section>
