<section class="center" id="projects">
    <div class="container-width center column">
        <h2>My work</h2>

        <div class="flex">
            <div>
                All
            </div>
            <div>
                Angular
            </div>
            <div>
                Java Script
            </div>
        </div>

        <div class="center wrap">
            <div class="project-box inactive"
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
                <div class="project-box-overlay center column">
                    <h3>El Pollo Loco</h3>
                    <p>JavaScript - based jump and run game</p>
                    <div class="project-play-button center">Try out</div>
                </div>
            </div>

            <div class="project-box inactive"
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
                <div class="project-box-overlay center column">
                    <h3>Pokedex</h3>
                    <p>JavaScript - based jump and run game</p>
                    <div class="project-play-button center">Try out</div>
                </div>
            </div>

            <div class="project-box inactive"
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
                <div class="project-box-overlay center column">
                    <h3>Join-Kanban-board</h3>
                    <p>JavaScript - based jump and run game</p>
                    <div class="project-play-button center">Try out</div>
                </div>
            </div>

            <div class="project-box inactive"
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
                <div class="project-box-overlay center column">
                    <h3>Sharki</h3>
                    <p>JavaScript - based jump and run game</p>
                    <div class="project-play-button center">Try out</div>
                </div>
            </div>


        </div>
    </div>

</section>
