<header>
    <section class="non-mobile-header container-width">
        <a href="#start"><img routerLink="/" href="#start" src="assets/img/Logo.png" alt=""></a>
        <nav>
          <a href="#start">Home</a>
          <a href="#skills">Skills</a>
          <a href="#projects">Projects</a>
          <a href="#about">About me</a>
          <a href="#contact">Contact</a>
        </nav>
    </section>

    <section class="mobile-header container-width">
      <div class="dropdown">
        <span>Menu</span>
        <nav class="dropdown-content">
          <a href="#start">Home</a>
          <a href="#skills">Skills</a>
          <a href="#projects">Projects</a>
          <a href="#about">About me</a>
          <a href="#contact">Contact</a>
        </nav>
      </div>
    </section>

  </header>
