<section class="center" id="skills">
    <div class="container-width skills-content">
        <h2>MY Skills</h2>

        <div class="flex">
            <div class="skill-box">
                <div class="img-box">
                    <img src="assets/img/java script.png" alt="">
                </div>
                
                <span>Java script</span>
            </div>

            <div class="skill-box">
                <div class="img-box">
                    <img src="assets/img/angular.png" alt="">
                </div>
                
                <span>Angular</span> 
            </div>

            <div class="skill-box">
                <div class="img-box">
                    <img src="assets/img/Group 205.png" alt="">
                </div>
                
                <span>HTML / CSS</span> 
            </div>
        </div>

        <div class="flex">
            <div class="skill-box">
                <div class="img-box">
                    <img src="assets/img/Group 226.png" alt="">
                </div>
                
                <span>SCRUM</span> 
            </div>

            <div class="skill-box">
                <div class="img-box">
                    <img src="assets/img/Git.png" alt="">
                </div>
                
                <span>Git </span>
            </div>

            <div class="skill-box">
                <div class="img-box">
                    <img src="assets/img/Group 20.png" alt="">
                </div>
                
                <span>Design Thinking</span> 
            </div>
        </div>

        <div class="flex">
            <div class="skill-box">
                <div class="img-box">
                    <img src="assets/img/rest-api.png" alt="">
                </div>
                
                <span>Rest API</span> 
            </div>

            <div class="skill-box">
                <div class="img-box">
                    <img src="assets/img/test-lab.png" alt="">
                </div>
                
                <span>Test automation</span>
            </div>

            <div class="skill-box">
                <div class="img-box">
                    <img src="assets/img/database.png" alt="">
                </div>
                
                <span>Database</span>
            </div>
        </div>
    </div>
</section>