<div class="center">
    <section class="container-width" id="start">
        
        <div>
            <h1>
                Hi,<br>
                I'm 
                <span class="first-name inactive"
                      inViewport
                      [inViewportOptions]="{ threshold: [0] }"
                      (inViewportAction)="onIntersection($event)">
                    Marco
                </span> 
                Hilliges <br>
                Front End developer
            </h1>
            <a href="#contact" class="contact-button inactive"
                inViewport
                [inViewportOptions]="{ threshold: [0] }"
                (inViewportAction)="onIntersection($event)">
                <p>Contact me</p> 
            </a>
        </div>
        <div class="img-container">
            <img class="inactive" src="assets/img/Marco.png" alt=""
                 inViewport
                 [inViewportOptions]="{ threshold: [0] }"
                 (inViewportAction)="onIntersection($event)">
        </div>
    
    
    </section>
    </div>