<div class="center">
    <section class="container-width" id="start">
        
        <div>
            <h1>
                Hi,<br>
                I'm <span class="first-name">Marco</span> Hilliges <br>
                Front End developer
            </h1>
            <a href="#contact" class="contact-button">
                <p>Contact me</p> 
            </a>
        </div>
        <div class="img-container">
            <img src="assets/img/Marco.png" alt="">
        </div>
    
    
    </section>
    </div>